html {
  scroll-behavior: smooth;
}

@tailwind base;
a, 
button, 
input, 
[tabindex] {
  -webkit-appearance: none;
  appearance: none;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  
  /* Hack na błędy renderowania w WebKit */
  transform: translateZ(0); 
}

@tailwind components;
@tailwind utilities;
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-slide-in-right {
  animation: slideInRight 0.3s ease-out forwards;
}

.animate-slide-out-right {
  animation: slideOutRight 0.3s ease-in forwards;
}